---
openapi: 3.0.1
info:
  title: API V1
  version: v1
paths:
  "/api/v1/transactions":
    get:
      summary: List Transactions
      tags:
      - Transactions
      responses:
        '200':
          description: Transactions found
servers:
- url: https://{defaultHost}
  variables:
    defaultHost:
      default: www.example.com
